.CategoryNavBar {
  width: fit-content;
  height: 50px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  max-width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 0 200px;
  position: sticky;
  top: 100px;
  z-index: 1001;
  background-color: white;
  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px 20px;

    a {
      text-decoration: none;
      opacity: 1;
      color: rgba(0, 0, 0, 0.5);

      font-size: 1.42857143rem;
      font-family: Oswald, sans-serif;
      transition: all 0.5s;
      &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background-color: #e4002b;
      }
      &:hover {
        color: black;
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 3px;
          background-color: #e4002b;
        }
      }
    }
  }
  .active {
    color: black;
    font-weight: bold;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background-color: #e4002b;
    }
  }
}
